.ticket {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px 30px;
    border-bottom: 3px solid black;
    margin-bottom: 20px;
    margin-top: 20px;
    .list-desc {
        .item-title {
            font-size: 22px;
        }

        .item-desc,
        .item-status {
            font-size: 16px;
        }
    }
}

.title {
    font-size: 16px;
    margin-bottom: 10px;
    margin-left: 5px;
}

.reply {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    padding: 10px 30px;

    margin-bottom: 10px;
    .list-desc {
        .reply-title {
            font-size: 16px;
            color: gray;
        }

        .reply-desc {
            font-size: 16px;
        }
    }
}

form {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;
    .form-item {
        width: 100%;
        .input-1 {
            width: 100%;
            padding: 8px 8px;

            border: none;
            // border-bottom: 3px solid black;
        }
    }
}
